<% provide(:title, 'Inicio') %>

<div class="row">
  <div class="col-md-12">
    <h2><i class="fa fa-thumbs-up"></i> Mejores libros</h2>

    <div class="row">
      <% @top_books.each do |book| %>
          <div class="col-xs-4 col-md-2">
            <div>
              <a href="<%= book_path(book) %>" class="thumbnail">
                <%= image_tag book.cover.url(:thumb), class: "media-object" %>
              </a>

              <div class="caption">
                <%= book.title %>

              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2><i class="fa fa-book"></i> Libros añadidos recientemente</h2>

    <div class="row">
      <% @recent_books.each do |book| %>
          <div class="col-xs-4 col-md-2">
            <div>
              <a href="<%= book_path(book) %>" class="thumbnail">
                <%= image_tag book.cover.url(:thumb), class: "media-object" %>
              </a>

              <div class="caption">
                <%= book.title %>

              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2><i class="fa fa-users"></i> Usuarios</h2>

    <div class="row">
      <% @random_users.each do |user| %>
          <div class="col-xs-4 col-md-2">
            <div>
              <a href="<%= user_path(user) %>" class="thumbnail">
                <%= image_tag user.avatar.url(:thumb), class: "media-object", style: "min-height: 70px" %>
              </a>

              <div class="caption">
                <%= user.username %>

              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>