<% provide(:title, @title) %>

<h1><i class="fa fa-users"></i> <%= @title %></h1>

<div class="row">
  <div class="col-sm-3">
    <a href="#" class="thumbnail">
      <%= image_tag @user.avatar.url(:medium) %>
    </a>
    <dl>
      <dt><%= @user.name %></dt>
    </dl>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge"><%= @user.following.count %></span>
        <a href="<%= following_user_path(@user) %>">Siguiendo</a>
      </li>
      <li class="list-group-item">
        <span class="badge"><%= @user.followers.count %></span>
        <a href="<%= followers_user_path(@user) %>">Seguidores</a>
      </li>
    </ul>
  </div>

  <div class="col-sm-9">
    <% if @users.any? %>
        <%= render @users %>
    <% else %>
        <%= @no_users %>
    <% end %>
  </div>
</div>
