<% provide(:title, @book.title) %>

<h1><i class="fa fa-book"></i> <%= @book.title %></h1>

<div class="row">
  <div class="col-sm-3">
    <a href="#" class="thumbnail">
      <%= image_tag @book.cover.url(:medium) %>
    </a>
  </div>

  <div class="col-sm-5">
    <dl>
      <dt>Título</dt>
      <dd><%= @book.title %></dd>
      <dt>Autor</dt>
      <dd><%= @book.author %></dd>
      <dt>ISBN</dt>
      <dd><%= @book.isbn %></dd>
      <dt>Fecha de publicación</dt>
      <dd><%= @book.publication_date %></dd>
      <dt>Editorial</dt>
      <dd><%= @book.publisher %></dd>
      <dt>Idioma</dt>
      <dd><%= @book.language %></dd>
      <dt>Genero</dt>
      <dd><%= @book.genre %></dd>
      <dt>Descripción</dt>
      <dd><%= @book.description %></dd>
    </dl>
  </div>

  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item">
        <h3>Puntuación media: <%= "%0.1f" % @book.avg_rating %></h3>
        <h4>Puntuar libro</h4>
        <a href="<%= vote_book_path(@book) %>?rating=1">
          <span class="fa fa-star-o"></span>
        </a>
        <a href="<%= vote_book_path(@book) %>?rating=2">
          <span class="fa fa-star-o"></span>
        </a>
        <a href="<%= vote_book_path(@book) %>?rating=3">
          <span class="fa fa-star-o"></span>
        </a>
        <a href="<%= vote_book_path(@book) %>?rating=4">
          <span class="fa fa-star-o"></span>
        </a>
        <a href="<%= vote_book_path(@book) %>?rating=5">
          <span class="fa fa-star-o"></span>
        </a>
        <a href="<%= vote_book_path(@book) %>?rating=6">
          <span class="fa fa-star-o"></span>
        </a>
        <a href="<%= vote_book_path(@book) %>?rating=7">
          <span class="fa fa-star-o"></span>
        </a>
        <a href="<%= vote_book_path(@book) %>?rating=8">
          <span class="fa fa-star-o"></span>
        </a>
        <a href="<%= vote_book_path(@book) %>?rating=9">
          <span class="fa fa-star-o"></span>
        </a>
        <a href="<%= vote_book_path(@book) %>?rating=10">
          <span class="fa fa-star-o"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
